#a {
    color: teal;
}

#b {
    color: red;
}

#c {
    color: blue;
}

#d {
    color: orange;
}

#f {
    color: purple;
}

#g {
    color: olive;
}

#h {
    color: fuchsia;
}

#i {
    color: green;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}